
.flex-item {
    width: 100px;
    height: 100px;
    background-color: grey;
    margin: 5px;
}

.flex-container {
    display: flex;
    /* justify-content: flex;  */
    /* flex-direction: row; */
    height: 500px;
    align-items: center;
    justify-content: center;
}