
.container {
    width: 1000px;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    background-color: hotpink;
}

.left {
    float: left; 
    width: 70%;  
}

.title-img {
    float: left;
}

.title-content {
    float: left;
    margin-left: 30px;
}

.gray {
    color: gray;
    font-size: 13px;
}

.title-img > img {
    width: 100px;
    height: 100px;
}

.content{
    clear: both;
}

.right {
    float: left;
    width: 30%;

}

.right > img {
    width: 300px;
    height: 300px;
}

.content p{
    font-size: 15px;
    color: gray;
}

/* selector 문법 중 공백 : ~안에 있는 모든 자식태그 이라는 뜻 */
/* selector 문법 >  ~안에 있는 직계 자식태그 */
.navbar li {
    display: inline-block;
}

.navbar a{
    font-size: 16px;
    text-decoration: none; /*a태그의 밑줄제거 가능*/
    
}