$maincolor : #2a4cb2;
$subcolor : #eeeeee;
$main-size : 16px;

.backgrund {
    background-color: $maincolor;
    font-size: ($main-size - 2px);
}

.box { 
    color : $subcolor;
    font-size: ($main-size + 2px);
}

/*Nesting 문법*/
.navbar { 
    ul {
      width : 100%;
    }
    li {
      color : black;
    }
  }

// 빨간,파란,초록버튼이 필요하다.
//%임시클래스명 (특징: 단독으로 컴파일되지 않음(css로 변환이 되지않는다는거임))
//중복된 스타일이 많으면 1. 클래스로 묶어두고  2.@extend로 필요할때 복사하셈
%btn {
    width: 100px;
    height: 50px;
    padding: 20px;
}

.btn-green {
    // class 전체를 복사해주는 @extend문법
    @extend %btn;
    color: green;
} 

.btn-red {
    @extend %btn;
    color: red;
} 

.btn-blue {
    width: 100px;
    height: 50px;
    padding: 20px;
    color: blue;
} 



%box {
    width: 30%;
    height: 200px;
}

.box-red{
  @extend %box;
  color: red;
}

.box-blue{
    @extend %box;
    color: blue;
  }

  .box-green{
    @extend %box;
    color: green;
  }

