$maincolor : #2a4cb2;
$subcolor : #eeeeee;
$main-size : 16px;

.backgrund {
    background-color: $maincolor;
    font-size: ($main-size - 2px);
}

.box { 
    color : $subcolor;
    font-size: ($main-size + 2px);
}

/*Nesting 문법*/
.navbar { 
    ul {
      width : 100%;
    }
    li {
      color : black;
    }
  }