@mixin act () {
    background-color: blue;
    color: white;
}

li {
    width: 50%;
    height: 100px;
    display: block;
    margin: auto;
    padding: 10px;
    text-align: center;
    border: 1px solid gray;
    
}

li:hover {
    @include act();
}

// solution
.sh-list li {
    list-style: none;
    padding: 15px;
    border: 1px solid #eee;
}
//nesting grammer
.sh-list {
    li {
        list-style: none;
        padding: 15px;
        border: 1px solid #eee; 
    }
}